form{
    align-items: center;
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 .5rem 2px #7575f5;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
    padding: 1.25rem;
    width: 50%;
}

input{
    all: unset;
    font-size: 25px;
    height: 2rem;
    width: 85%;
}

button{
    all: unset;
    height: 2rem;
    width: 5%;
}

.searchPage{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.searchPage h1{
    color: rgba(17,17,60,1);
    font-family: 'Big Shoulders Stencil Text', cursive;;
    font-size: 8rem;
    margin: 2rem auto;
}

.resultsPagination{
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-evenly;
}

.navigateResultsPage{
    font-size: 1.5rem;
    margin: 5px;
    text-align: center;
    padding: 10px;
}

.pagination{
    background: #e8e2f1;
    border-radius: 5px;
    color: rgba(17,17,60,1);
    margin: 3px;
    padding: 5px;
}

.currentPage{
    background: rgba(81,76,167,1);
    color: #e8e2f1;
    font-weight: 900;
}

.paginationLabel{
    width: 5rem;
}